<div id="index">
  <div class="back">
  <div class="text-overlay">身近な所から地域に貢献しよう</div>
  </div>
  <div class="container">
    <div class="i-title">About Farmers Market</div>
    
    <p>ファーマーズマーケットとは？？</p>
    <p>地元の生産者が集まって食材を消費者に直売する市場のこと</p>
    <p>地域経済活性化や交流の場としての役割を果たす</p>
    

    <div class="image">
      <div class="image_wrap">
        <ul class="image_list image_list--left">
          <%= image_tag '1.jpg', :class=>"cat-icon" %>
          <%= image_tag '2.jpg', :class=>"cat-icon" %>
          <%= image_tag '3.jpg', :class=>"cat-icon" %>
          <%= image_tag '4.jpg', :class=>"cat-icon" %>
          <%= image_tag '5.jpg', :class=>"cat-icon" %>
          <%= image_tag '6.jpg', :class=>"cat-icon" %>
        </ul>
        <ul class="image_list image_list--left">
          <%= image_tag '1.jpg', :class=>"cat-icon" %>
          <%= image_tag '2.jpg', :class=>"cat-icon" %>
          <%= image_tag '3.jpg', :class=>"cat-icon" %>
          <%= image_tag '4.jpg', :class=>"cat-icon" %>
          <%= image_tag '5.jpg', :class=>"cat-icon" %>
          <%= image_tag '6.jpg', :class=>"cat-icon" %>
        </ul>
      </div>
    </div>
    <div class="body-container">
      <h3>Merits</h3>
      <h4>販売機会を増やせる<br>
      新規のお客さんを開拓できる<br>
      生産者同士での交流が生まれる</h4>
      <h5>地域の新鮮な商品が低価格で買える<br>
      顔を見ることができる安心・安全さ<br>
      地域経済に貢献できる</h5>
    </div>
  </div>

  <div class ="tweets">
    
      <div class="search">
        <h3>Post</h3>
        <%= form_tag({controller:"tweets", action:"index"}, method: :get, class: "search-form") do %>
          <%= text_area_tag :search, '', :size=>"60x3", class: "search-area" %>
          <%= submit_tag 'Search', class: "btn-new search-button" %>
        <% end %>
      </div>
     
   
      <div class="tweet">
     
      <% @tweets.each do |t| %>
        <div class="tweet_content">

        <div>Name:　　<%= t.name %></div>
        <div>Date:　　<%= t.date %></div>
        <div>Place:　　<%= t.place %></div>
        <div>Genre:   <%= t.genre %></div>
        <div>Organizer:　 <%= t.organizer %></div>
        <div>About:　　<%= t.about %></div>
        <div>Post_time  <%= t.created_at.strftime('%Y年%m月%d日 %H時%M分')%></div>
        <div><%= image_tag t.image_url, size: "300x300" if t.image? %></div>

        <div class="tweet-detail">
        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
            <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
              <i class="fas fa-heart heart-icon"></i><%= t.likes.count %>
            <% end %>
          <% else %>
            <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :tweet do %>
              <i class="fas fa-heart heart-icon"></i><%= t.likes.count %>
            <% end %>
          <% end %>
        <% else %>
          <i class="fas fa-heart heart-icon"></i><%= t.likes.count %>
        <% end %>

          
        <%= link_to "Detail >", tweet_path(t.id), class:"btn-new" %> 
        <% if user_signed_in? && current_user.id == t.user_id %>
         
    
        <% end %>
              </div>
           
  </div>
      <% end %>
 
    



  </div>
      <div class="new">
  <%= link_to "New post>", new_tweet_path, class:"btn-new" %>
    </div>
    <div class="pagenate">
    <%= page_entries_info @tweets %>
    <%= paginate @tweets %>
</div>
</div>
