<div class="new-post">
<h3>New Post</h3>
<%= form_for @tweet do |f| %>
  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :name,  :size => 32 %>
  </div>
  <div class="field">
    <%= f.label :Date %><br>
    <%= f.date_field :date, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :Place %><br>
    <%= f.text_field :place, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :Genre %><br>
    <%= f.text_field :genre, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :Organizer %><br>
    <%= f.text_field :organizer, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :Contents %><br>
    <%= f.text_area :about, :size => "30x3" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, class:"btn-new" %>
  </div>
 
  <%= f.submit "Post", class: "btn-new" %>
  
  <script type="text/javascript">
    document.addEventListener("turbolinks:load", function() {
      document.getElementById("tweet_image_top").addEventListener("change", function() {
        var size_in_megabytes = this.files[0].size / 1024 / 1024;
        if (size_in_megabytes > 5) {
          alert("Maximum file size is 5MB. Please choose a smaller file.");
          this.value = "";
        }
      });
    });
  </script>
  
  



<% end %>

<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="new_map">
  <%= form_with(model: @tweet,url: tweets_path, local: true) do |f| %>
    <div class="actions">
      <%= f.label :body,"内容" %>
      <%= f.text_field :body %>
      <%= f.label :lat,"緯度" %>
      <%= f.text_field :lat, :value =>"緯度", id: :lat %>
      <%= f.label :lng,"経度" %>
      <%= f.text_field :lng,:value =>"経度", id: :lng %>
      <%= f.submit %>
    </div>
  <% end %>



    <h2>Map</h2>
    <input id="address" type="textbox" value="GeekSalon">
    <input type="button" value="検索" onclick="codeAddress()">

    <div id='map'></div>
    <style>
      #map {
        height: 600px;
        width: 600px;
      }
    </style>
    <script>
      // 初期マップの設定
      let map
      let marker
      function initMap() {
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: 35.6803997, lng: 139.7690174 }, // 東京
          zoom: 15,
        });
      }
      // 検索後のマップ作成
      let geocoder;
      let aft;
      function codeAddress() {
        let inputAddress = document.getElementById('address').value;
        geocoder.geocode({ 'address': inputAddress }, function (results, status) {
          if (status == 'OK') {
            // マーカーが複数できないようにする
            if (aft == true) {
              marker.setMap(null);
            }
            // 新しくマーカーを作成する
            map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              draggable: true // ドラッグ可能にする
            });
            // 二度目以降か判断
            aft = true;
            // 検索した時に緯度経度を入力する
            document.getElementById('lat').value = results[0].geometry.location.lat();
            document.getElementById('lng').value = results[0].geometry.location.lng();
            // マーカーのドロップ（ドラッグ終了）時のイベント
            google.maps.event.addListener(marker, 'dragend', function (ev) {
              // イベントの引数evの、プロパティ.latLngが緯度経度
              document.getElementById('lat').value = ev.latLng.lat();
              document.getElementById('lng').value = ev.latLng.lng();
            });
          } else {
            alert('該当する結果がありませんでした：' + status);
          }
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbWpjRd9zzKQqIb3lBxY0MpWhINkr9yvQ&callback=initMap" async defer></script>
  
</div>

<%= link_to "Top page", tweets_path %>

</div>


