
<div id="u-show">
  <div class="user">
    Mypage
  </div>

  <div class="p">
    name : <%= @user.name %>
  </div>
  <div class="p">
    e-mail : <%= @user.email %>
  </div>
  <div class="p">
  profile : <%= @user.profile %>
</div>

  <% if current_user.id == @user.id %>
    <%= link_to "Edit", edit_user_registration_path %>
  <% end %>

  <h2>my post</h2>
  <% @user.tweets.each do |t| %>
 
  
  <% end %>

  <!-- 以下はいいね機能を実装している場合-->
  <h2>ユーザーがいいねした投稿一覧</h2>
  <% @user.liked_tweets.each do |t| %>
    <%= t.user.name %>
  <% end %>

  <%= link_to "Top-page >", tweets_path, class:"btn-new" %>
</div>
