<!DOCTYPE html>
<html>
  <head>
    <title>Reina</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0ba8fdf354.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>

    <header>
      <div class="a-title">
        <p>Farmers Market</p>
      </div>
      <div class="a-about">
        <% if user_signed_in? %>
          <li><%= button_to 'Logout', stroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= button_to "Sign up", new_user_registration_path, class: "btn-new" %></li>
          
          <li><%= button_to "Login", new_user_session_path, class: "btn-new" %></li>
        <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
